<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search any Appointment..." [(ngModel)]="filterText">
    </div>
    <table class="table table-bordered" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Appointment Name</th>
                <th scope="col">Room Name to Book</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of appointmentData | filter: filterText">
                <td> {{data.id}} </td>
                <td> {{data.appointmentName}} </td>
                <td> {{data.roomName}} </td>
                <td> {{data.date}} </td>
                <td> {{data.start_time}} </td>
                <td> {{data.end_time}}</td>
                <td> {{data.comments}} </td>
            </tr>
        </tbody>
    </table>
</div>
