<app-navbar></app-navbar>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

<div class="container mt-5">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search any Appointment..." [(ngModel)]="filterText">
    </div>
    <table class="table table-bordered" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Appointment Name</th>
                <th scope="col">Room Name to Book</th>
                <!-- <th scope="col">Room Number</th> -->
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of appointmentData | filter: filterText">
                <td> {{data.id}} </td>
                <td> {{data.appointmentName}} </td>
                <td> {{data.roomName}} </td>
                <td> {{data.date}} </td>
                <td> {{data.start_time}} </td>
                <td> {{data.end_time}}</td>
                <td> {{data.comments}} </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Model -->